* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    
    .Registro {
    font-family: 'lora', serif;
    width: 50%;
    background: rgb(23, 147, 189);
    
    padding: 70px;
    margin:auto;
    margin-top: 20px;
    border-radius: 40px;
    font-family: 'calibri';
    color:black;
    box-shadow: 7px 13px 37px #000;
    }
    
    .Registro h4{
    font-size: 22px;
    margin-bottom: 20px;
    
    }
    
    .controls{
    width: 100%;
    background-color: floralwhite;
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 20px;
    border: 1px;
    font-family: 'calibri';
    font-size: 18px;
    
    }
    
    .Registro p {
    height: 40px;
    text-align: center;
    font-size: 18px; 
    line-height: 40px; 
    }
    
    .Registro a{
    color:wheat;
    text-decoration: none;
    }
    
    
    
    .Registro .boton {
    width: 100%;
    border: 10px;
    background-color: blue;
    padding: 12px;
    color: wheat;
    margin: 16px 0;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
    font-family: 'lora', serif;
    
    
    
    }